.web{
    display: flex;
    flex: 1;
    align-items: center;
}
.web-option{
    display: flex;
    margin-right: 16px;
    font-size: 15px;
    font-weight: 900;
}
.web-option a{
    text-decoration: none;
    color: #FFD4D4;
    display: flex;
    align-items: center;
    padding-right: 56px;
}
.web-option a:hover{
    color: #ce126d;
}
.option-icon{
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.web-option:last-child{
    margin-right: 0px;
}
@media screen and (max-width: 1150px) {
    .web-option{
        font-size: 13px;
    } 
}
@media screen and (max-width: 966px) {
    .web-option{
        font-size: 10px;
    } 
}
