.mobile{
    display: flex;
    flex: 1;
    align-items: center;
}
.mobile-option{
    font-size: 15px;
    font-weight: 900;
    color: #FFD4D4;
}
.mobile-option a{
    text-decoration: none;
    color: #FFD4D4;
    display: flex;
    align-items: center;
}
.mobile-option a:hover{
    color: #ce126d;
}
.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
