.info-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
}

.info-menu li {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ef9f9f;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(248, 212, 242);
}

.info-menu h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.info-menu p {
  font-size: 14px;
  color: #666;
}

.info-menu a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.info-menu a:hover {
  text-decoration: underline;
  color: red;
}

@media screen and (max-width: 768px) {
  .info-menu li {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .info-menu li {
    width: calc(100% - 20px);
  }
}
